#root {
  max-width: 1440px;
  overflow: hidden;
  margin: 0 auto;
  padding: 2rem 2rem 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right:20rem;
  justify-content: space-between;
  min-height: calc(100vh - 12rem);
  max-width: 640px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (min-aspect-ratio: 1/1) {
  .content {
    transform: translateY(-3rem);
  }
}

@media screen and ((max-width: 704px) or (max-height: 1024px)) {
  .content {
    width: 480px;
  }
}

@media screen and ((max-width: 560px) or (max-height: 560px)) {
  .content {
    width: 320px;
  }
}

@media screen and (max-width: 1440px) {
  .content-wrapper.hidden {
    visibility: hidden;
  }
}
